body{
    font-size: 14px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.rooms{
    position: relative;
    display: inline-block;
    margin: 10px 0;
}
.buttons{
    position: relative;
    right: 0;
    top: -10px;
    display: inline-block;
;
}
.buttons .add{
    position: relative;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    padding: 0;
}
.buttons .remove{
    position: relative;
    right: 0;
    top: 0;
    width: 25px;
    height: 25px;
    padding: 0;
}
.childs{
    background: #dedede;
    padding: 15px;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.infant-out{
    background: #9a9a9a;
    padding: 15px;
    margin-left: 60px;
}
/*.child-out{*/
    /*float: left;*/
/*}*/
.child-out{
    background: #b3b3b3;
    padding: 15px;
    margin-left: 60px;
}
.adult,.children,.infants{
    display: inline-block;
}
